---
---
<header class="site-header">
  <div class="header-inner">
    <div class="site-title"><a href="/">The Startup at the End of the Universe</a></div>
    <div class="site-subtitle">~ Transmitted from the last server before the big crunch ~</div>
    <nav class="site-nav">
      <a href="/">[ Home ]</a>
      <a href="/blog/">[ Archive ]</a>
      <a href="/about/">[ About ]</a>
    </nav>
  </div>
</header>
<div class="marquee-banner">
  <span class="marquee-inner">
    *** WELCOME TO THE STARTUP AT THE END OF THE UNIVERSE *** BEST VIEWED WITH NETSCAPE NAVIGATOR 3.0 AT 800x600 *** UNDER CONSTRUCTION SINCE THE HEAT DEATH OF EVERYTHING *** THIS SITE IS Y2K COMPLIANT (PROBABLY) ***
  </span>
</div>
